<h2 class="page-header text-center">Register</h2>
<div class="row">
<div class="mx-auto col-10 col-md-8 col-lg-6">
<div class = "card p-3 border border-primary">
<%= form_for :user, url: register_3_url, method: :patch, data: {turbo: false} do |f| %>

  <div class="field">
    <%= f.label :email, class:"form_label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", value: resource.email, disabled: true, class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :full_name, class:"form_label"%>
    <%= f.text_field :full_name, class:"form-control"%>
  </div>

  <div class="field">
    <%= f.label :password, class:"form_label" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, class:"form_label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :curriculum_vitate, class:"form_label" %><br />
    <%= f.file_field :curriculum_vitate, accept:".doc, .pdf, .xls, .xlsx, .zip", class:"form-control form-control__cv"%>
  </div>
  
  

  <div class="actions">
    <%= f.submit "Register", class: "btn btn-primary " %>
  </div>
<% end %>


</div>
</div>
</div>












