  
<h2 class="page-header text-center">Applied jobs </h2>
<div class="container__latest-jobs">
    <% @applied_jobs.each  do |job|%>
      <div class="latest-jobs-detail border border-primary rounded">
        <b>Job title:</b> <%=job.name%> <br />
        <b>Short description:</b> <%=job.description.slice(0,274)%>...<%= link_to "xem thêm"%> <br />
        <div class = "applied__jobs-detail-infor">
          <b>Location:</b> <%=job.city.name%>  
          <b>Salary:</b> <%=job.salary%>
          <b>Applied at:</b> <%= job.applied_at %>
        </div>
    </div>
  <%end%>


</div>





  
  
  
  

