<div class="row">
<div class="mx-auto col-10 col-md-8 col-lg-6">
<div class = "card p-3 " style="border:none">

  <aside class="ribbon3"><span class = "ribbon3__number">2</span> Apply confirmation</aside>
  <h1 class ="text-center">Confirmation</h1>
  <div class="input__information">
  <%= form_with url: confirm_path(job_id: @job.id), method: :post do |f|%>
    <div class="form-group">
      <%= f.label :fullname, "Full name:", class: "form-label"%>
      <%= f.text_field :fullname, class: "form-control", value: @apply.full_name, readonly: true %> 
    </div>
    <br />
    <div class="form-group">
      <%= f.label :email, "Email:", class: "form-label"%>
      <%= f.text_field :email, class: "form-control", value: @apply.email, readonly: true %> 
      <%# <%= f.hidden_field :job_id, value: job.id%>  
    </div>
    <br />
    <div class="form-group"> 
      <%= f.label :cv, "CV: ", class: "form-label"%>
      <%= link_to current_user.curriculum_vitate.url do %>
        <%= current_user.curriculum_vitate.file.filename %>
      <% end %>
    </div>
    <div class ="form__apply-btn">
    </div>
  <div class = "confirmation__btn">
    <%= link_to "Edit", apply_path(job_id:@job.id) , class: "button btn btn-primary"%>
    <%= f.submit "Done", class: 'btn btn-primary' %>
  </div>
  <% end %>

</div>
</div>
</div>

