<!-- Top page-->
<div class="content">
  <div class = "banner_image">
      <h1>Total jobs: <%=@total_jobs%></h1>
<div>

<div class="margin__top">
<div class="content__search">
  <%= form_tag search_jobs_path, method: :get, class: "content__search-form" do %>
    <%=text_field_tag :search, params[:search], placeholder: "Search..", class: "search__field"%>
    <%=submit_tag "Search",class: "button"%>
  <%end%>
</div>

</div>
<h2 class = "subject"> Latest Job</h2>
<div class="container__latest-jobs">
  <%@latest_jobs.each do |job|%>
    <div class="latest-jobs-detail border border-primary rounded">
      <b>Job title:</b> <%=job.name%> <br />
      <b>Short description:</b> <%=job.description.slice(0,274)%>...<%= link_to "xem thêm"%> <br />
      <b>Location:</b> <%=job.city.name%>  <br />
      <b>Salary:</b> <%=job.salary%>
    </div>
    <br /> 
  <%end%>
</div>

<h2 class = "subject"> Top City</h2>
<div class="container">
  <%@top_jobs_cities.each do |city|%>
    <div class="container__job-top-city">
      <%= link_to "#{city.name}: #{city.job_count}", search_jobs_path(search:  "\"#{city.name}\"" )%>
    </div>
  <%end%>
  <div class ="container__all" ><%= link_to "All cities", cities_url %></div>
</div>

<h2 class = "subject"> Top Industry</h2>
<div class="container">
  <%@top_jobs_industries.each do |industry|%>
    <div class="container__job-top-city">
      <%= link_to "#{industry.title}: #{industry.job_count}", search_jobs_path(search: "\"#{industry.title}\"")%>
    </div>
  <%end%>
  <div class ="container__all" ><%= link_to "All industries", industries_url %></div>
</div>

