<!-- Top page-->
<%= render partial: "header"%>

<div class="content">
  <div class = "banner_image">
      <h1>Welcome to the Ven Job</h1>
      <h1>Total jobs: <%=@total_jobs%></h1>
<div>

  <div class="content__search">
    <%= form_tag search_jobs_path, method: :get, class: "content__search-form" do %>
      <%=text_field_tag :search, params[:search], placeholder: "Search..", class: "search__field"%>
      <%=submit_tag "Search",class: "button"%>
    <%end%>
  </div>
<div class="margin__top">
</div>
<h2>Latest Job</h2>
<div class="container__latest-jobs">
  <%@latest_jobs.each do |job|%>
    <div class="item item1">
      Job title: <%=job.name%> <br />
      Short description: <%=job.description%> <br />
      Location: <%=job.city.name%>  <br />
      Salary: <%=job.salary%>
    </div>
    <br /> 
  <%end%>
</div>

<h2>Top City</h2>
<div class="container" style = "display: grid; grid-template-columns: 200px 200px 200px;grid-template-rows: 100px 100px;">
  <%@top_jobs_cities.each do |city|%>
    <div class="item item1">
        <%=city.name%>:<%=city.job_count%>
    </div>
  <%end%>
</div>

<h2>Top Industry</h2>
<div class="container" style = "display: grid; grid-template-columns: 200px 200px 200px;grid-template-rows: 100px 100px;">
  <%@top_jobs_industries.each do |industry|%>
    <div class="item item1">
      <%=industry.title%>:<%=industry.job_count%>
    </div>
  <%end%>
</div>

<%= render partial: "footer" %>


