<%# Job list page %>

<div class = "margin__header">
  <%= render partial: "shared/form_search"%>
</div>
  

<div class = "result___summary">
  <h3>Total:<%=@search.total%></h3>
  <h3>Result for: <%=params[:search] %></h3>
</div>
<div class= "paging">
  <p >Paging: 24</p>
</div>

<div class = "results__detail">
  <%@jobs.each do |job|%>
    <div class="results__detail-infor">
      <b>Job title:</b> <%=job.name%> <br />
      <b>Short description:</b> <%=job.description%> <br />
      <b>Location:</b> <%=job.city.name%>
      <b class ="results__details-salary">Salary: <%=job.salary%></b>
    </div>
    <div class = "results__fav">
      <%= link_to "Favourite", class: "results__fav-icon" %>
      <%= link_to "detail_jobs",job_path(job.id), class: "results__fav-icon" %>
    </div>
  <%end%>
</div>
<div class= "paging">
  <p >Paging: 24</p>
</div>



