<%= link_to "Top",root_path %>
<%= link_to "#{@job.city.name}", search_jobs_path(search: "\"#{@job.city.name}\"")%>
<%= link_to "#{@job.industry.title}", search_jobs_path(search: "\"#{@job.industry.title}\"")%>
<%= @job.name %> 

<div class = "results__detail">
  <div class="results__detail-infor">
    <h2> <b>Job title:</b> <%=@job.name%> </h2>
    <b>Company:</b> <%=@job.company_name%>  <br />
    <b>Location:</b> <%=@job.city.name%>  <br />
    <b>Type work:</b> <%=@job.type_work%>  <br />
    <b>Salary:</b> <%=@job.salary%> <br />
    <b>Benefit:</b> <pre><%=@job.benefit%><pre> <br />
    <b>Requirements:</b> <pre><%=@job.requirements%> <pre><br />
    <b>Long description:</b> <pre><%=@job.description%> <pre> <br />
  </div>
  <div class = "results__fav">
    <%= link_to "Apply", apply_path(job_id: @job.id), class: "results__fav-icon" %> 
  </div>
</div>

<%= link_to "Apply", apply_path, class: "results__fav-icon" %>
<%= link_to "Favourite", class: "results__fav-icon" %>


