<div class = "text-center">
 <h1>
  <%= link_to "Top",root_path %>
  <%= link_to "#{@job.city.name}", search_jobs_path(search: "\"#{@job.city.name}\"")%>
  <%= link_to "#{@job.industry.title}", search_jobs_path(search: "\"#{@job.industry.title}\"")%>
  <%= @job.name %> 
  </h1>
</div>


<div class = "results__detail card-body">
  <div class="results__detail-infor border border-primary rounded">
    <h5 class="card-title">Job title: <%=@job.name%> </h5>
    <h6 class="card-subtitle mb-2 text-muted">Company: <%=@job.company_name%>  </h6>
    <h6 class = "card-subtitle mb-2 text-muted">Location: <%=@job.city.name%></h6>
    <h6 class = "card-subtitle mb-2 text-muted">Type work: <%=@job.type_work%></h6>
    <h6 class = "card-subtitle mb-2 text-muted">Salary: <%=@job.salary%></h6>
    <h6 class = "card-subtitle mb-2 text-muted">Benefit: <pre class="viet card-text"><%=@job.benefit%><pre> </h6>
    <h6 class = "card-subtitle mb-2 text-muted">Requirements: <pre class="card-text"><%=@job.requirements%> <pre></h6>
    <h6 class = "card-subtitle mb-2 text-muted">Long description: <pre class="card-text"><%=@job.description%> <pre></h6>
  </div>
  <div class = "results__fav border border-primary rounded">
    <%= link_to "Apply", apply_path(job_id: @job.id), class: " btn btn-primary" %> 
  </div>
</div>

<div class = "btn_function">
  <%= link_to "Apply", apply_path(job_id: @job.id), class: " btn btn-primary" %>
  <%= link_to "Favourite", favourite_add_path(job_id: @job.id), data: {turbo_method: 'post'}, class: " btn btn-primary" %>
</div>



