<h3> FAVORITE JOBS</h3>
  <%= form_tag favourite_apply_path, method: :post do %>
    <div class = "results__detail">
      <% @favourite_jobs.each do |job|%>
        <div class = "results__detail-infor">
          <h5 class=""><%= link_to job.name, job_path(job.id)%></h5>
          <h5 class=""><%= job.description.slice(0,250) %></h5>
          <p class ="detail__infor">
              <span>Location: <%=job.city.name %></span>
              <span>Salary:<%= job.salary %><span>
          <p>  
        </div>
        <div class="results__fav">
          <%= link_to 'Remove', favourite_destroy_path(job_id: job.id) , data: {turbo_method: 'delete', turbo_confirm: 'Are you sure?'} %>
        </div>
        
    
      <% end %>
    </div>
    <div class ="btn">
      <%= submit_tag 'Apply'%>
    </div>
  <% end %>
</div>