<div class="header">
  <a class="logo" href="#home">
    <%= image_tag "logo.jpg", size:"80x70", alt: "venjob-logo", class: "venjob-logo" %>
  </a>
  <div class="header-right">
    <%= link_to "Home", root_path%>
    <%= link_to "Login", new_user_session_path%>
    <%= link_to "Register", register_1_path%>
    <%= link_to "Favourite", new_user_session_path%>
    <%= link_to "History", new_user_session_path%>
  </div>
</div>