Applied jobs
<div data-controller="flatpickr">
<div>
  <%= search_form_for @q, url: applied_jobs_path do |f| %>
    <%= f.label :email %>
    <%= f.search_field :email_cont %> <br />
    <%= f.select :city_id_eq, options_for_select(@cities, @q.city_id_eq), { include_blank: 'Select City' }, class: "form-select" %> <br />
    <%= f.select :industry_id_eq, options_for_select(@industries, @q.industry_id_eq), { include_blank: 'Select Industry' }, class: "form-select" %> <br />
    <%= f.search_field :created_at_gteq, class: "from-date" %>
    <%= f.search_field :created_at_lteq, class: "to-date" %>
    <%= f.submit %>
  <% end %>
</div>

<%= link_to "Export", applied_jobs_path(format: 'csv', format: :csv, q: @current_search_params) %>



 
      <% if @applies.present? %>
        <% @applies.each do |applied| %>
        
                <span >Job Tilte:</span>
                  <a href=""><%= link_to applied.job.name, my_path(id: applied.user_id) %>
                    </a>
                </h3>
                <span >Candidates Name:</span>
                
                 <a href=""><%= link_to applied.full_name, my_path(id: applied.user_id) %>
                    </a>
                
                
                 <span >Candidates CV:</span> <%= applied.cv %>
                 
                
                       <span >Candidates Email:</span>
                       
                        <%= applied.email %>
                        
                   
                  </div>
                  
                    <p>
                      <%= applied.created_at %>>
                    </p>
              
        <% end %>
      <% else %>
        <div class="alert alert-info" role="alert">
         No results found !
        </div>
      <% end %>

 </div>